{% extends "base.html.twig" %}

{% block title %} Wellcome {% endblock %}

{% block body %}
<ul>
    {% for category in categories %}
        <li>
            <a href={{ path('category', {id:category.id}) }}>{{ category.name }}</a>
        </li>
    {% endfor %}
</ul> 
{% endblock %}